form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

form button {
  background-color: #764ba2;
  color: white;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #667eea;
}

/* Estilos para los formularios */
.form-hidden {
  display: none; 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show-form {
  display: block; 
  opacity: 1;
}
