header {
  background-color: #667eea;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header .logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

nav ul li a:hover {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 5px;
  border-radius: 5px;
}
